.activeusers-container {
  width: 40%;
  height: 100%;
  padding: 2rem .5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #fff;
}

.active-users-title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}

.active-user-box {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.active-user-name {
  margin: 0;
  font-size: .8rem;
}

.app-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.app-details-title {
  margin: 0;
  margin-bottom: .5rem;
  font-size: .8rem;
}

.app-details-text {
  margin: 0;
  font-size: .5rem;
}

/* Styles for tablets */
@media only screen and (min-width: 768px) {
  .activeusers-container {
    display: flex;
  }
}

/* Styles for desktops */
@media only screen and (min-width: 992px) {
  .active-user-name {
    font-size: 1rem;
  }

  .app-details-title {
    font-size: 1rem;
  }

  .app-details-text {
    font-size: .8rem;
  }
}

/* Styles for larger screens */
@media only screen and (min-width: 1200px) {
  .activeusers-container {
    padding: 4rem 2rem;
  }

  .active-users-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .active-user-name {
    font-size: 1.3rem;
  }

  .app-details-title {
    font-size: 1.5rem;
  }
}