.chat-outer-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-inner-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}