.form {
  display: flex;
  position: sticky;
  bottom: 0;
  border-top: 2px solid #D3D3D3;
}

.input {
  width: 80%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: .3rem;
}

.input:focus {
  outline: none;
}

.sendButton {
  width: 20%;
  background-color: #074173;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #2876ba;
}