.messages-container {
  height: 100%;
  padding: 1rem .5rem;
}

.message-outer-container {
  padding: .3rem;
}

/* Styles for larger screens */
@media only screen and (min-width: 1200px) {
  .messages-container {
    padding: 2rem .5rem;
  }
}