.message-inner-container {
  padding: .3rem;
  display: flex;
  align-items: center;
}

.message-sender-name {
  color: #828282;
  font-family: Helvetica;
  font-size: .7rem;
}

.message-box {
  max-width: 80%;
  padding: .7rem .8rem;
  border-radius: .5rem;
}

.message-text {
  margin: 0;
  font-size: 1rem;
}

.mr-c5r {
  margin: 0 .5rem 0 0;
}

.ml-c5r {
  margin: 0 0 0 .5rem;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.background-dark {
  background-color: #074173;
}

.background-light {
  background-color: #e2e1e1;
}

.text-dark {
  color: #074173;
}

.text-light {
  color: #F3F3F3;
}